body {
  background-color: #ddecf8;
  font-family: "Montserrat", sans-serif;
}
h1,
h2 {
  font-weight: 800;
  margin-left: 5px;
}
footer a {
  background-color: whitesmoke;
  text-decoration: none;
}

.destaque {
  font-size: 21px;
  font-weight: bold;
}
.habilidade {
  font-size: 18px;
}

#nome {
  text-align: center;
}

#foto {
  width: 100%;
}
.div-foto {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  max-width: 300px;
  padding: 10px;
  margin-right: 10px;
  background-color: whitesmoke;
  border-radius: 10px;
}

.div-sobre {
  display: inline-block;
  vertical-align: middle;
  width: 65%;
}

.lista-impares {
  display: inline-block;
}
.lista-impares li:nth-child(odd) {
  background-color: #d0d0f0;
}
